<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayforceService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.dayforcehcm.com/DataSvc/DayforceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDayforceService"
                contract="DayforceService.IDayforceService" name="BasicHttpBinding_IDayforceService" />
        </client>
    </system.serviceModel>
</configuration>